
.antonio { font-family: Times;
    color: black;
    font-size : 15px;
    text-shadow: 2px 2px 5px red;
    border: solid 1px;

}
.antonio:hover{
    text-shadow: 2px 2px 5px green;
    border: solid 3px;
}
.panthino {font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(168, 22, 22);
    font-size : 15px;
}
.proteus{ font-family:arial;
    color: rgb(18, 119, 52);
    font-size : 15px;
}
a
  {  
        background-color: rgb(245, 241, 205);
        color:black;

      }


      a:hover{
        background-color: rgb(132, 172, 134);
        color:black;

      }

      p{ 
          background-color: rgb(156, 168, 194);
      }
      

      table{
          text-align: center;
           border: solid 3px;
        border-collapse: collapse;
        outline: solid 2px lightcoral;
        padding : 2px;
        margin : 3px;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
      }


